doctype html
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="/vendor/css/dc.css")

  body

    #date-count-line-chart

    script(src='/vendor/js/d3.min.js')
    script(src='/vendor/js/crossfilter.min.js')
    script(src='/vendor/js/dc.js')
    script(src='/js/main.js')
